
body{
    background-color: silver;
}

.name{
    color: floralwhite;
}

#mid_layout{
    background-color: lightcyan;
}

#professionalTitle{
    background-color: blue;
    color: aliceblue;
}

img{
        border: 2px solid black;
}

.row{
    margin: 20px;
}

#regular {
    margin: 0px;
    padding: 0;
}

#Shantel{
    width: 432;
    height: 576;
}

/* Profile tables Css is below */
#contact_table {
    color: #373F51;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/* Invert the profile table */
#contact_table tr { 
    display: block; 
    float: left; 
}

#contact_table th, #contact_table td { 
    display: block;  
    border: 1px solid #ddd;
    padding: 8px;
}

#contact_table th {
    text-align: left;
    background-color:  #58A4B0;
    color: black;
}

div#SkillSet.row {
    margin: 0;
    background-color: lightblue;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    text-align: center;
   
  
}

ul {
    padding-left: 0;
}

#mid_layout {
    margin-bottom: 40px;
    width: 1400px;
}