
body{
    background-color: white
}

#name{
    color: floralwhite;
}

#mid_layout{
    background-color: white
}

#professionalTitle{
    background-color: blue;
    color: aliceblue;
}

img{
        border: 2px solid black;
}

.row{
    margin: 20px;
}

#regular {
    margin: 0px;
    padding: 0;
}

#firstProject{
    border-style: solid;
    /* border-width: 5px;
    border: black; */
}

#Shantel{
    width: 432;
    height: 576;
}