{% extends 'base.html' %}


<!-- title block -->
{% block title %}contact page{% endblock %}



{% block content %}
<!-- Contact table -->
<div class="row">
    <table id="contact_table">
        <th>Github</th>
        <th>LinkedIn</th>
        <th>Email</th>
        <tr>
            <td>
                <a href="https://github.com/Tellysone87">Tellysone87</a>
            </td>
            <td>
                <a href="https://www.linkedin.com/in/shantel-williams-software-developer/">shantel-williams-software-developer</a>
            </td>
            <td>
                <a href="walterdtrt@aol.com">Email</a>
            </td>
        </tr>
    </table>
</div>


{% endblock %}