{% extends 'base.html' %}


<!-- title block -->
{% block title %}contact page{% endblock %}



{% block content %}
<!-- Contact table -->
<div class="row">
    <table id="contact_table">
        <th>Github</th>
        <th>LinkedIn</th>
        <tr>
            <td>
                <a href="https://github.com/Tellysone87">Tellysone87</a>
            </td>
            <td>
                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="shantel-williams-software-developer" data-version="v1">
                <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/shantel-williams-software-developer?trk=profile-badge"></a></div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
{% endblock %}