{% extends 'base.html' %}

<!-- title block -->
{% block title %}Education{% endblock %}

{% block heading %}
<img src="/static/images/smaller Nice photo.jpg" id="pl" alt="Photo of Shantel Williams"
width="170" height="170" id="myPhoto">
<h1 class="name">Education</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- first school -->
    <div class="row">
        <div class="col-6">
            <h3><b>Hackbright Academy, Detroit,MI </b></h3>
            <h4><b>Feb. 2023 - June 2023</b></h4>
            <ul>
                <li>Software Engineering Fellowship</li>
                <li> Accelerated, full stack software engineering program</li>
            </ul>
        </div>
        <div class="col-6">
            <img src="../static/images/HBCertificate.png" alt="Photo of Shantel Williams HackBright Certificate"
                width="600" height="400" id="HackPhoto">
        </div>
    </div>
    <!-- Second school -->
    <div class="row">
        <div class="col-6">
            <h3><b>Macomb Community College, Warren,MI</b></h3>
            <h4><b>Aug. 2018 - May 2021</b></h4>
            <ul>
                <li>Associate of Applied Science Computer Programming</li>
                <li>Overall GPA: 3.6</li>
            </ul>
        </div>
        <div class="col-6">
            <img src="../static/images/macombdiploma.png"
                alt="Photo of Shantel Williams associate degree" width="600" height="400"
                id="associateDegreePhoto">
        </div>
    </div>
    <!-- Third school -->
    <div class="row">
        <div class="col-6">
            <h3><b>Data Science for All, Detroit,MI</b></h3>
            <h4><b>October 2021 - April 2022</b></h4>
            <ul>
                <li>Certificate of completion</li>
                <li>Overall GPA: Honors</li>
            </ul>
        </div>
        <div class="col-6">
            <img src="../static/images/correlationOneCertificate.png"
                alt="Photo of Shantel Williams Data science for all Certificate" width="600" height="400"
                id="correlationphoto">
        </div>
    </div>
</div>
{% endblock %}