{% extends 'base.html' %}

<!-- title block -->
{% block title %}Projects{% endblock %}



{% block content %}
<!-- Each project has 3 sections -->
<div class="row" id="firstProject">
    <!-- Title and date -->
    <div class="col-3" >
        <b>
            <h2>
                Pack Track
            </h2>
            <h3>
                Apr 2023 - Aug 2023
            </h3>
        </b>
    </div>
    <!-- highlights and skills -->
    <div class="col-3" id="pack">
        <Ul class="skills" id="packListItems">
            
            <!-- <li>Designed and engineered a web application that allows you to track all your packages and view them
                on a
                google map.</li>
            <li>Utilized html, PostgreSQL, JavaScript, CSS, Bootstrap, Ajax, and jinja to successfully develop my
                full
                stack application.</li>
            <li>Learned time management, web development, API integration and backend programming.</li> -->
        </Ul>
    </div>
    <!-- play game or presentation -->
    <div class="col-6">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/qA2wuqg6MLQ"
            title="Pack Track Web Application" id="packVOD" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
</div>

<!-- Start of second project -->
<div class="row" id="SecondProject">
    <!-- Title and date -->
    <div class="col-3">
        <b>
            <h2>
                Under Pressure
            </h2>
            <h3>
                Aug 2018 - Sep 2023
            </h3>
        </b>
    </div>
    <!-- highlights and skills -->
    <div class="col-3" id="under">
        <Ul class="skills">
            <li>Added Graphics, sound, and characters using pygame</li>
            <li>Interactive multiple choose questions</li>
            <li>Using loops and conditions to perform tasks</li>
            <li>Importing text from separate text documents and displaying it to the user</li>
            <li>Setting location and font for text/graphics</li>
            <li>Created a complete game from start to finish</li>
        </Ul>
    </div>
    <!-- play game or presentation -->
    <div class="col-6">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/aUmBXw3H89E?si=0HMURqGVeiqI7XuJ" 
        title="Under pressure Video Presentation" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
    </div>
</div>


<!-- Start of third project -->
<div class="row" id="SecondProject">
    <!-- Title and date -->
    <div class="col-3">
        <b>
            <h2>
                Just Escape
            </h2>
            <h3>
                Aug 2020 - Sep 2023
            </h3>
        </b>
    </div>
    <!-- highlights and skills -->
    <div class="col-3" id="escape">
        <Ul class="skills">
            <li>Learned Unity and coding with c#</li>
            <li>created objects and calling them via variables</li>
            <li>collision and health calculating</li>
            <li>Character camera follow</li>
            <li>use of interactive buttons for main menu controls</li>
        </Ul>
    </div>
    <!-- play game or presentation -->
    <div class="col-6">
        <iframe frameborder="0" src="https://itch.io/embed-upload/8591476?color=000000" allowfullscreen="" width="600"
            height="400"><a href="https://tellysone.itch.io/just-escape">Play Just Escape on itch.io</a></iframe>
    </div>
</div>


<!-- Start of forth project -->
<div class="row" id="SecondProject">
    <!-- Title and date -->
    <div class="col-3">
        <b>
            <h2>
                Telly's Driver Ed
            </h2>
            <h3>
                Jan 2021 - September 2023
            </h3>
        </b>
    </div>
    <!-- highlights and skills -->
    <div class="col-3" id="ed">
        <Ul class="skills">
            <li>Added Graphics, sound, and characters using pygame</li>
            <li>Interactive multiple choose questions</li>
            <li>Using loops and conditions to perform tasks</li>
            <li>Importing text from seperate text documents and displaying it to the user</li>
            <li>Setting location and font for text/graphics</li>
            <li>Importing text from seperate text documents and displaying it to the user</li>
            <li>Created a complete game from start to finish</li>
        </Ul>
    </div>
    <!-- play game or presentation -->
    <div class="col-6">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/h74z0piNloE?si=L6ladBVASnp_4oG4" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- link javascript -->
<script src="../static/project_effects.js"></script>
{% endblock %}