{% extends 'base.html' %}

<!-- title block -->
{% block title %}Projects{% endblock %}

{% block content %}
<!-- Each project has 3 sections -->
<div class="row" id="firstProject">
    <!-- Title and date -->
    <div class="col-3">
        <b>
            <h2>
                Pack Track
            </h2>
            <h3>
                Apr. 2023 - Current
            </h3>
        </b>
    </div>
    <!-- highlights and skills -->
    <div class="col-3">
        <Ul>
            <li>Designed and engineered a web application that allows you to track all your packages and view them
                on a
                google map.</li>
            <li>Utilized html, PostgreSQL, JavaScript, CSS, Bootstrap, Ajax, and jinja to successfully develop my
                full
                stack application.</li>
            <li>Learned time management, web development, API integration and backend programming.</li>
        </Ul>
    </div>
    <!-- play game or presentation -->
    <div class="col-6">
        <iframe width="900" height="600" src="https://www.youtube.com/embed/qA2wuqg6MLQ"
            title="Pack Track Web Application" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
</div>

<!-- Start of second project -->
<div class="row" id="SecondProject">
    <!-- Title and date -->
    <div class="col-3">
        <b>
            <h2>
                Under Pressure
            </h2>
            <h3>
                Aug 2018 - May 2021
            </h3>
        </b>
    </div>
    <!-- highlights and skills -->
    <div class="col-3">
        <Ul>
            <li>Added Graphics, sound, and characters using pygame</li>
            <li>Interactive multiple choose questions</li>
            <li>Using loops and conditions to perform tasks</li>
            <li>Importing text from seperate text documents and displaying it to the user</li>
            <li>Setting location and font for text/graphics</li>
            <li>Importing text from seperate text documents and displaying it to the user</li>
            <li>Created a complete game from start to finish</li>
        </Ul>
    </div>
    <!-- play game or presentation -->
    <div class="col-6">
        <img src="../static/images/UnderPressureScreenshot (184).png" alt="Photo of the Under Pressure title screen"
            width="900" height="600" id="UnderPressurePhoto">
    </div>
</div>


<!-- Start of third project -->
<div class="row" id="SecondProject">
    <!-- Title and date -->
    <div class="col-3">
        <b>
            <h2>
                Just Escape
            </h2>
            <h3>
                Aug 2018 - May 2021
            </h3>
        </b>
    </div>
    <!-- highlights and skills -->
    <div class="col-3">
        <Ul>
            <li>Added Graphics, sound, and characters using pygame</li>
            <li>Interactive multiple choose questions</li>
            <li>Using loops and conditions to perform tasks</li>
            <li>Importing text from seperate text documents and displaying it to the user</li>
            <li>Setting location and font for text/graphics</li>
            <li>Importing text from seperate text documents and displaying it to the user</li>
            <li>Created a complete game from start to finish</li>
        </Ul>
    </div>
    <!-- play game or presentation -->
    <div class="col-6">
        <iframe frameborder="0" src="https://itch.io/embed-upload/8555001?color=000000" allowfullscreen="" width="900"
            height="600"><a href="https://tellysone.itch.io/just-escape">Play Just Escape on itch.io</a></iframe>
    </div>
</div>


<!-- Start of forth project -->
<div class="row" id="SecondProject">
    <!-- Title and date -->
    <div class="col-3">
        <b>
            <h2>
                Telly's Driver Ed
            </h2>
            <h3>
                Aug 2018 - May 2021
            </h3>
        </b>
    </div>
    <!-- highlights and skills -->
    <div class="col-3">
        <Ul>
            <li>Added Graphics, sound, and characters using pygame</li>
            <li>Interactive multiple choose questions</li>
            <li>Using loops and conditions to perform tasks</li>
            <li>Importing text from seperate text documents and displaying it to the user</li>
            <li>Setting location and font for text/graphics</li>
            <li>Importing text from seperate text documents and displaying it to the user</li>
            <li>Created a complete game from start to finish</li>
        </Ul>
    </div>
    <!-- play game or presentation -->
    <div class="col-6">
        <img src="../static/images/TitleScreenShot.png" alt="Photo of the Driver Ed title screen" width="900"
            height="600" id="DriverEdTitlePhoto">
    </div>
</div>


{% endblock %}